release/
.idea
target/
**/validator_setup
scripts/genesis.json
networks/
users/
validators/
.vscode/
contracts-info.json

## unit test coverage
out.txt
cover.out
coverage.txt
coverage.xml
testreport.xml
.testchains

*.dot
*.log
vendor/