[Unit]
Description=Hermes Node

[Service]
User=root
WorkingDirectory=/opt/deploy/hermes
ExecStart=/opt/deploy/hermes/hermes start
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target